extends ./layout.pug

block head
  link(rel="stylesheet" type="text/css" href="/css/books.css")

block content
  a.book__btn.book__btn-create(href="/books/book/create") + Add new
  each book, index in books
    - var bookId = book.id
    - var authorsLenght = book.authors.length - 1

    div(class="book " + "book_" + bookId)
      .book__index= index + 1 + "."
      .book__info
        a.book__title(href="/books/" + bookId)= book.title
        each author, index in book.authors
          span.book__author= author
          if index < authorsLenght
            span , 
      .book__cover
        img(src="/img/"+book.cover)
      .book__btn-block
        a.book__btn.book__btn-edit(href="/books/" + bookId + "/edit") Edit
        a.book__btn.book__btn-delete(href="/books/" + bookId + "/delete") Delete