include ./mixins/formCreate.pug
include ./mixins/formUpdate.pug
include ./mixins/navigation.pug

doctype html
html(lang='ru') 
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="user-scalable=0, width=device-width, initial-scale=1 , maximum-scale=1 , minimum-scale=1")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/css/base.css")

    title= title || ''
    block head
  body
    +navigation
    .wrapper
      block content