extends ./layout.pug

block head
  link(rel="stylesheet" type="text/css" href="/css/main.css")

block content
  .btn-block
      a.book__btn.book__btn-back(href="/books/") All books
      a.book__btn.book__btn-back(href="/books/book/create") Create books